---
language: minimal
dist: bionic
group: edge
sudo: true
env:
  global:
  - PACKER_TEMPLATES_BRANCH="master"
  - TRAVIS_COOKBOOKS_BRANCH="master"
before_install:
- if [[ "${BUILDER}" = "docker" ]] ; then sudo apt-get update -yqq ; sudo apt-get
  install apt-transport-https gnupg-agent software-properties-common ; curl -fsSL
  https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add - ; sudo apt-get
  purge -o Dpkg::Options::="--force-confnew" -yqq docker-ce ; sudo add-apt-repository
  "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  ; sudo apt-get install -o Dpkg::Options::="--force-confnew" -yqq docker-ce docker-ce-cli
  containerd.io lvm2 xfsprogs ; sudo service docker restart ; fi
install:
- git clone --branch="${PACKER_TEMPLATES_BRANCH}" "https://github.com/travis-ci/packer-templates.git"
- pushd packer-templates && git checkout -qf @ ; popd
- "./packer-templates/bin/packer-build-install"
script:
- "./packer-templates/bin/packer-build-script ci-ubuntu-1804"
addons:
  artifacts:
    paths:
    - image-metadata-$(cat .packer-build-image-name).tar.bz2
    target_paths:
    - travis-ci/packer-templates/ci-ubuntu-1804/$BUILDER
notifications:
  email: false
env:
  matrix:
  - BUILDER=googlecompute
  - BUILDER=docker
