---
language: generic
dist: trusty
group: edge
sudo: true
before_install:
- if [[ "x${BUILDER}" = "xdocker" ]] ; then sudo apt-get update -yqq ; sudo apt-get
  purge -o Dpkg::Options::="--force-confnew" -yqq docker-engine ; sudo apt-get install
  -o Dpkg::Options::="--force-confnew" -yqq docker-engine lvm2 xfsprogs ; echo 'DOCKER_OPTS="$DOCKER_OPTS
  --storage-driver devicemapper"' | sudo tee -a /etc/default/docker ; sudo service
  docker restart ; fi
install:
- git clone --branch="master" "https://github.com/travis-ci/packer-templates.git"
- pushd packer-templates && git checkout -qf b3f071e93a94974220ea5e42bc469e2ef623180a
  ; popd
- "./packer-templates/bin/packer-build-install"
script:
- export PACKER_TEMPLATES_BRANCH="master"
- "./packer-templates/bin/packer-build-script ci-amethyst"
env:
  matrix:
  - BUILDER=googlecompute
  - BUILDER=docker
