
dist: bionic
env:
  global:
  - IMAGE=sardonyx    # this is default value; in order to build different version, one must manually substitute this value with respective name from https://github.com/travis-ci/packer-templates/
before_install:
- sudo apt update -qq

## Install snapd
- sudo apt install snapd --yes
- export PATH=/snap/bin/:$PATH
- echo "export PATH=/snap/bin/:${PATH}" >> ~/.bashrc

## Install and setup ZFS
- sudo apt install zfsutils-linux --yes
- sudo mkdir -p /mnt/data

## Install and setup LXD
- sudo apt remove --purge --yes lxd lxd-client liblxc1 lxcfs
- sudo snap install lxd --channel=3.18/stable
- sudo snap set lxd shiftfs.enable=true

- sudo lxc storage create instances zfs volume.zfs.use_refquota=true
- sudo zfs set sync=disabled instances
- sudo zfs set atime=off instances
- sudo lxc storage create data dir source=/mnt/data
- sudo lxc network create lxdbr0 dns.mode=none ipv4.address=192.168.0.1/24 ipv4.dhcp=true ipv4.firewall=false ipv4.nat=true
- sudo lxc profile device add default eth0 nic nictype=bridged parent=lxdbr0 security.mac_filtering=true
- sudo lxc profile device add default root disk path=/ pool=instances

- sudo apt install curl unzip make --yes
- curl -sLo /tmp/packer_1.5.1_linux_amd64.zip https://releases.hashicorp.com/packer/1.5.1/packer_1.5.1_linux_amd64.zip
- sudo unzip -o /tmp/packer_1.5.1_linux_amd64.zip -d /usr/local/bin/

- sudo snap install aws-cli --classic
- sudo usermod -aG lxd travis
install:
# temporary changed to fork linuxmadness
#- git clone --branch="${PACKER_TEMPLATES_BRANCH}" "https://github.com/linuxmadness/packer-templates.git"
- git clone --branch="${PACKER_TEMPLATES_BRANCH}" "https://github.com/linuxmadness/packer-templates.git"
- pushd packer-templates && git checkout -qf @ ; popd
script:
- export BUILDER="lxd"
- export AWS_ACCESS_KEY_ID=$LXC_AWS_ACCESS_KEY_ID
- export AWS_SECRET_ACCESS_KEY=$LXC_AWS_SECRET_ACCESS_KEY
- export PACKER_TEMPLATES_BRANCH="ubuntu-2004"
- export TRAVIS_COOKBOOKS_BRANCH="master"
- export ARTIFACTS_BUCKET="travis-lxc-images"
- export PACKER_VERSION="1.5.1"
- export TRAVIS_UID="1000"
- sudo su -m -l $USER -c "echo ${TRAVIS_UID} && pushd packer-templates && make ci-${IMAGE} && popd"
